@model List<Pagination.Models.Student>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.City</td>
        </tr>
    }
</table>

<div>

    @if (ViewBag.CurrentPage > 1)
    {
        <a asp-controller="Students"
           asp-action="Index"
           asp-route-page="@(ViewBag.CurrentPage - 1)">
            Previous
        </a>
    }

    <a asp-controller="Students"
       asp-action="Index"
       asp-route-page="@(ViewBag.CurrentPage + 1)">
        Next
    </a>

</div>